/* alert messages */
.alertbox{
    position: fixed;
    bottom: 0px;
    left: 40px;
}

.alert {
    position: fixed;
    bottom: 1em;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 12px 16px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    animation: fadeOut 5s forwards;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}